<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Headlines</title>
</head>
<body>
    <h1>Headlines</h1>
    {% for headline in context %}
        <b><a href="{{headline.link}}">{{headline.title}}</a></b><br/>
        <i>{{headline.published}}</i><br/>
        <p>{{headline.description}}</p>
        <hr/>
    {% endfor %}
</body>
</html>